@import url('https://fonts.googleapis.com/css?family=Raleway|VT323');

$color-primary: #212121;
$color-blue-background: #00CCC9;
$color-blue-font: #000;
$color-red-background: #FF01C1;
$color-red-font: #000;
$color-yellow-background: #FFD501;
$color-yellow-font: #000;
$color-stress: #000;
$color-link: #FF01C1;
$color-background: #f5f5f5;

body {
  background: $color-background;
  color: $color-primary;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
a {
  color: $color-link;
}
strong, b {
  color: $color-stress;
}
h1 {
  font-size: 10rem;
}
h1,h2,h3,h4,h5 {
  font-family: 'VT323', monospace;
}

/*
 *TITLEBAR
 */
#titlebar {
  margin: 20px 0;

  img {
    vertical-align: bottom;
    max-height: 110px;
    height: inherit;
    display: inline-block;
  }

  h1 {
    display: inline-block;
    margin: 0 0 0 20px;
  }
}

/*
 *FORM AND PREVIEW
 */
#preview span {
  text-decoration: underline;
}

/*
 * GAME LIST
 */
 #games {
   margin: 20px 0;
 }
.game-list {
  margin: 20px 0;
  border: 1px solid green;

  .game {
    padding: 5px 0;

    &.one {
      background-color: rgba($color-blue-background, 0.15);
      color: $color-blue-font;
      &:hover, &.selected {
        background-color: $color-blue-background;
      }
    }
    &.two {
      background-color: rgba($color-red-background, 0.15);
      color: $color-red-font;
      &:hover, &.selected  {
        background-color: $color-red-background;
        color: #fff;
        strong { color: #fff; }
      }
    }
    &.three {
      background-color: rgba($color-yellow-background, 0.15);
      color: $color-yellow-font;
      &:hover, &.selected {
        background-color: $color-yellow-background;
      }
    }
  }
}
